@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Piazzolla:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
@import url('https://rsms.me/inter/inter.css');
/* @import url('https://fonts.googleapis.com/css?family=Proxima+Nova'); */
@import "./proximaNova.css";

.AboutUs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    cursor: pointer;
    
    /* basic letter */
    text-decoration: none;
    text-transform: capitalize;
    color: #444444;

    /* letter style */
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    outline: none;
}

.AboutUs:hover {
    color: green !important;
}

.AboutUs:visited {
    color: #444444;
}

.coverProducts {
    background: #eeeeee;
}

.servicesSH {
    width: 100%;
    box-sizing: border-box;
    background: #eeeeee;
}

.BioSessions {
    border: rgb(204, 0,0) solid 2px;
    background: rgb(204, 0, 0);
    color: white;
    font-family: "Proxima Nova";
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    padding: 8px 16px;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.BioSessions:hover {
    background: white !important;
    color: rgb(204, 0,0) !important;
}

.BioSessions:visited {
    background: rgb(204, 0,0);
    color: white;
}

.BioSessions:active {
    color: #515151 !important;
    border: #515151 solid 2px !important;
}
    
@media (max-width: 740px) {
    .BioSessions {
        font-size: 16px;
        padding: 6px 12px;
    }
}

@media (max-width: 415px) {
    .BioSessions {
        font-size: 12px;
    }
}